<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Families</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <a>Владельцы</a>
    <a href="meters">Счетчики</a>
    <a href="metersdata">Показания счетчиков</a>
    <a href="metertypes">Типы счетчикиков</a>
    <a href="tariffs">Тарифы</a>

    <hr>
    <a href="add-owner">Добавить нового владельца</a>
    <br>
    <br>
    <table class="table table-hover">
<!--        <table class="table table-striped">-->
        <tr>
            <th>id</th>
            <th>Владелец</th>
            <th>Кол-во зарегистрированных</th>
            <th>% участия</th>
            <th>Общий</th>
            <th>Активный</th>

            <th>Редактирование</th>
            <th>Удаление</th>
        </tr>
        <tr th:each="owner : ${ownerslist}">
            <td th:text="${owner.id}"></td>
            <td th:text="${owner.name}"></td>
            <td th:text="${owner.registratedQuantity}"></td>
            <td th:text="${owner.share}"></td>
            <td th:text="${owner.commonUser}"></td>
            <td th:text="${owner.active}"></td>

            <td>
                <a th:href="@{update-owner(id=${owner.id})}">Редактировать</a>
            </td>
            <td>
                <a class="text-danger" th:href="@{delete-owners(id=${owner.id})}">Удалить</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>