<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Внесение показаний</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <table class="table table-striped">
        <tr th:object="${checkdate}">
            <td>Дата проверки: </td>
            <td th:text="${checkdate.verificationDate}"></td>
        </tr>
    </table>

    <form action="add-metersdata" method="post"th:object="${checkdate}">
        <input type="hidden" th:value="${checkdate.id}">
<!--        Дата внесения <input type="date" name="checkDate">-->
        <br>
        Счетчик
        <select name="meter">
            <th:block th:each="meter : ${metersList}">
                <option th:value="${meter.id}" th:text="${meter.name}" />
            </th:block>
        </select>
        <br>

        Показания: <input type="number" name="value">
        <br>
        <br>
        <button class="btn btn-success" type="submit">Добавить показания</button>
    </form>
</div>
</body>
</html>