<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:Счетчик="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div th:object="${metersData}">
    <table class="table table-striped">
        <tr>
            <td>Счетчик:</td>
            <td th:text="*{meter.name}"></td>
        </tr>

<!--        <tr >-->
<!--            <td>Дата проверки:</td>-->
<!--            <td th:text="*{checkDate.verificationDate}"></td>-->
<!--        </tr>-->

        <tr th:text="*{checkDates}">
            <td>Дата проверки:</td>
            <td th:text="*{verificationDate}"></td>
        </tr>
    </table>
</div>

<br>
<br>

<div class="container">

    <form action="update-metersdata" method="post" th:object="${metersData}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{checkDates}">
        <input type="hidden" th:field="*{meter.id}">

        Показания: <input type="number" name="value" th:field="*{value}">

        <br>
        <br>
        <button class="btn btn-success" type="submit">Изменить показания</button>
    </form>
</div>
</body>
</html>