<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить Пользователя</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form action="add-family" method="post">
        Фамилия <input type="text" name="name">
        <br>
        Количество членов семьи <input type="number" name="familyMembersQuantity">
        <br>
        Процент участия <input type="number" name="share">
        <br>
        Общий <input type="checkbox" name="commonUser">
        <br>
        Активный <input type="checkbox" name="active">
        <br>
        <br>
        <button class="btn btn-success" type="submit">Добавить Семью</button>
    </form>
</div>
</body>
</html>