<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Типы счетчиков</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <a href="familylist">Семьи</a>
    <a href="meters">Счетчики</a>
    <a>Типы счетчиков</a>
    <a href="tariffs">Тарифы</a>

    <hr>
    <a href="add-metertype">Добавить тип счетчика</a>
    <br>
    <br>
    <table class="table table-striped">
        <tr>
            <th>id</th>
            <th>Тип</th>
            <th>Тариф</th>
            <th>Редактирование</th>
            <th>Удаление</th>

        </tr>
        <tr th:each="type : ${types}">
            <td th:text="${type.id}"></td>
            <td th:text="${type.name}"></td>
            <td th:text="${type.tariff}"></td>
<!--            <td th:text="${type.tariffs.name}"></td>-->

            <td>
                <a th:href="@{update-metertype(id=${type.id})}">Редактировать</a>
            </td>
            <td>
                <a class="text-danger" th:href="@{delete-metertype(id=${type.id})}">Удалить</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>